<%- include('partials/head') %>
<%- include('partials/navbar') %>
<body>
   <main class="container">
    <section class="card">
      <div class="card-header">
        <h3>Fazer pergunta</h3>
      </div>
      <div class="card-body">
        <form method="POST" action="/questionsDBRoute">
          <label for="">Título</label>
          <input type="text" placeholder="Título" class="form-control" name="title"> 
          <label for="">Descrição</label>
          <textarea placeholder="Faça sua pergunta" class="form-control" name="description"></textarea>
          <button class="btn btn-success mt-3">Perguntar</button>
        </form>
      </div>
    </section>
   </main>
   <%- include('partials/footer') %>
  </body>
  </html>

